<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Lessons</title>
    <meta charset="utf-8">

</head>
<body>
{% load staticfiles %}

<!-- <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" /> -->
<!--<link rel="stylesheet" type="text/css" href="http://fs35.www.ex.ua/get/5a0f22ee2dd2bffc1ac0d65013fdb768/65736018/bootstrap.css" />-->
<link rel="stylesheet" type="text/css" href="http://s2.edisk.ukr.net/get/127838181/bootstrap.css" /> 

<div class="masthead">
<h3 class="muted">Video lessons</h3>
{% if request.user.is_authenticated %}
    <div class="pull-right">Hi there, {{ request.user.first_name }}!
        {% load url from future %}
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% endif %}


      <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
               <li class="active"><a href="/">home</a></li>
               <li><a href="#">process</a></li>
               <li><a href="#">price</a></li>
               <li><a href="#">blog</a></li>
               <li><a href="#">about</a></li>
               <li><a href="#">contact us</a></li>
            </ul>
        </div>
      </div><!-- /.navbar -->
</div>

{% block body %}{% block content %}{% endblock content %}{% endblock body %}
<!--<script src="http://fs36.www.ex.ua/get/70bff7e504a53a6dabf5b0ef212bc702/65736034/jquery-1.10.1.min.js"></script>-->
<script src="http://s2.edisk.ukr.net/get/127838171/jquery-1.10.1.min.js"></script>
</body>
</html>
